@tailwind base;

@layer base {
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .grid-container {
    --paddingx: 0px;
    --paddingy: 0px;
    width: calc(100% + var(--paddingx) * 2) !important;
    height: calc(100% + var(--paddingy) * 2) !important;
    padding: 0;
  }

  .grid-container .grid-item {
    padding: var(--paddingy) var(--paddingx);
  }

  .no-tailwindcss-base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: revert;
      font-weight: revert;
    }

    ol,
    ul {
      list-style: revert;
      margin: revert;
      padding: revert;
    }
  }
}

@tailwind components;
@tailwind utilities;